.container {
  flex: 1 0 auto;
  margin: 0 auto;
  padding: 0 30px;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.example-card {
  background-color: rgb(253, 253, 253);
  color: black;
  margin-right: 30px;
  width: 430px;
}

.button {
  margin-right: 10px;
}
